
.resizer {
  display: flex;
  background-color: burlywood;
  cursor: ew-resize;
  width: 10px;
  height: 100%;
}

.right {
  position: absolute;
  right: 0;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
